<form (ngSubmit)="login(form)" #form="ngForm">

  <div class="form-group">
    <label for="processor">Processor</label>
    <input type="text"  class="form-control" id="processor" name="processor" [(ngModel)] = model.processor>
    <div *ngIf="emailField.touched"  class="alert alert-danger">Username is required</div>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" #emailField class="form-control" id="email" name="email" ngMode required>
    <div *ngIf="emailField.touched"  class="alert alert-danger">Username is required</div>
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" id="pwd" name="pass" ngModel required>
  </div>
  <button [disabled]="form.invalid"  type="submit" class="btn btn-primary">Submit</button>
</form>
