<div class="row">
  <div class="col-sm text-center">
    <form #signUpform="ngForm" (ngSubmit)="signup(signUpform)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control">
      </div>
      <div class="wrapper" *ngIf="signUpform.controls.email">
        <div *ngIf="signUpform.controls.email.invalid && signUpform.controls.email.dirty" class="alert-warning">
          Invalid E-Mail format
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          minlength="6"
          required
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <div class="wrapper" *ngIf="signUpform.controls.password">
        <div *ngIf="signUpform.controls.password.invalid && signUpform.controls.password.dirty">
          Password must be minimum 6 characters
        </div>
      </div>

      <div class="wrapper sign-in">
        <button class="btn btn-block btn-social" [disabled]="signUpform.invalid" type="submit">Sign Up with E-Mail
        </button>
      </div>

      <div class="wrapper sign-in text-center">
        <br>
        <p>Or</p>
        <div (click)="googleOAuth()" class="button btn btn-block btn-social btn-google"><span class="fa fa-google"> </span> Sign
          Up
          with Google
        </div>
      </div>
    </form>

  </div>
</div>

