<div class="row">
  <div class="col-sm text-center">
    <form #signInForm="ngForm" (ngSubmit)="login(signInForm)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          required
          type="email"
          id="email"
          name="email"
          ngModel
          class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          minlength="6"
          required
          type="password"
          id="password"
          name="password"
          ngModel
          class="form-control">
      </div>
      <div class="wrapper sign-in">
        <button class="btn btn-block btn-social" [disabled]="signInForm.invalid" type="submit">Sign In with E-Mail
        </button>
      </div>
      <div class="wrapper sign-in text-center">
        <br>
        <p>Or</p>
        <div (click)="googleOAuth()" class="button btn btn-block btn-social btn-google">
          <span class="fa fa-google"></span> Sign In with Google
        </div>
      </div>
    </form>
  </div>
</div>

