h3{
  text-align: center;
  }
div.gallery {
  text-align: center;
  margin: 5px;
  float: left;
  width: 180px;
  }
i {
  font-size: 1.2rem;
  }

div.gallery img {
  width: 100%;
  height: auto;
  }

div.desc {
  padding: 15px;
  text-align: center;
  }
