div.host {
  display: flex;
  overflow: hidden;
  height: 85vh;
}

div.host div {
  flex: 1;
  position: relative;
}

/deep/ div.host router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 85vh;
  padding: 10px;
}
