h4 {
  padding-left: 40px;
}
ul {
  list-style: none;
}
div.container {
  text-align: center;
}
div.wrapper {
  border: 1px solid black;
  display: grid;
  width: 65%;
  text-align: center;
  margin: 10px auto;
}
p.uid {
  text-transform: uppercase;
  font-size: 1.2rem;
}
